.counter-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: column wrap;
  width: 90%;
  height: 50%;
  background-color: var(--white-color);
  border-radius: 1rem;
}

.counter__title {
  font-size: 5rem;
  text-align: center;
  color: var(--primary-color);
}

.counter__value {
  font-size: 4rem;
  color: var(--primary-color);
  transition: color 1s;
}

.counter__btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 100%;
}

.counter__btn {
  padding: 1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
  color: var(--white-color);
  background-color: var(--primary-color);
  border: none;
  cursor: pointer;
  outline: none;
}

.counter__btn:active {
  transform: scale(0.8);
}

@media only screen and (min-width: 768px) {
  .counter {
    width: 70rem;
    height: 70rem;
  }

  .counter__title {
    font-size: 7rem;
  }

  .counter__value {
    font-size: 6rem;
  }

  .counter__btns {
    width: 50rem;
  }

  .counter__btn {
    font-size: 2.5rem;
  }
}
