:root {
  --primary-font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --base-font-size: 0.625rem;
  --primary-color: #ffe4c9;
  --white-color: #ffffff;
  --black-color: #000000;
}

* {
  padding: 0;
  margin: 0;
  font-size: var(--base-font-size);
  font-family: var(--primary-font);
  box-sizing: border-box;
}

img {
  max-width: 100%;
}
